<div id="home">
  {{!-- start jumbotron --}}
  <div class="jumbotron jumbotron-fluid gbackground border-bottom">
    <div class="container">
      <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="display-3" id="greeting">Look up or Add a Snippet</h1>
            </div>
          </div>
          {{!-- insert rows: row 1, search form --}}
          <div class="row">
            <form class="w-100" action="search" type="GET">
              <div class="col-md-12 form-row">
                <div class="col-md-3">
                  <select class="custom-select form-control-lg my-3 h6" id="snippet-category" name="category">
                    <option selected value="">All</option>
                    <option value="HTML">HTML</option>
                    <option value="CSS">CSS</option>
                    <option value="Javascript">Javascript</option>
                    <option value="jQuery">jQuery</option>
                    <option value="Node">Node</option>
                    <option value="SQL">SQL</option>
                    <option value="Express">Express</option>
                    <option value="Handlebars">Handlebars</option>
                    <option value="Sequalize">Sequalize</option>
                    <option value="Uncategorized">Uncategorized</option>
                  </select>
                </div>
                <div class="col-md-7">
                  <input type="text" class="form-control-lg my-3 btn-block" id="search-params" name="term" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-md-2">
                  <button class="btn-lg btn-block btn-danger my-3 ml-2" type="submit" id="search"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>

          {{!-- row 2 buttons with adding new snippets --}}
          <div class="row mt-3">
            <div class="col-md-12"><a href="/newsnippet">
                <button type="button" class="btn btn-info btn-lg btn-block add-buttons py-3"><i class="fas fa-plus"></i>&nbsp;&nbsp;New
                  Snippet</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> {{!-- end jumbotron --}}
  <div class="main-body mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12" id="snippets">

          <ul id="snippet-list" class="list-group">
            {{#each snippets}}
            <div class="card border-secondary mb-3 rounded-0">
              <div class="card-header">
                <button type="button" class="btn btn-sm c-button" disabled>{{this.category}}</button>
                <ul class="list-inline float-right">
                  <a href="snippet/update/{{this.id}}"><li class="list-inline-item"><button class="btn btn-secondary btn-sm rounded-0">Update</button></li></a>
                  <li class="list-inline-item"><button class="btn btn-danger btn-sm rounded-0 ml-1 delete" data-id="{{this.id}}"><i class="fas fa-times"></i></button></li>
                </ul>
              </div>
              <div class="card-body text-secondary">
                <h5 class="card-title">
                  <a href="snippet/update/{{this.id}}">{{this.title}}</a>
                </h5>
                <pre class="prettyprint p-2">{{this.code}}</pre>
              </div>
            </div>
            {{/each}}
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/index.js"></script>