<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Snippet</h5>
          <p>
            <strong>ID</strong>: {{snippet.id}}</p>
          <p>
          <p>
            <strong>Title</strong>: {{snippet.title}}</p>
          <p>
            <strong>Code:</strong> {{snippet.code}}</p>
          <p>
            <strong>Comment:</strong> {{snippet.comment}}</p>
          <p>
            <strong>Category:</strong> {{snippet.category}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
