<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Snippet</h5>
          <p>
            <strong>ID</strong>: {{snippet.id}}</p>
          <p>
          <p>
            <strong>Title:</strong><input id="snippet-title" type="text" value="{{snippet.title}}"></p>
          <p>
            <strong>Code:</strong><input id="snippet-code" type="text" value="{{snippet.code}}"></p>
          <p>
            <strong>Comment:</strong><input id="snippet-comment" type="text" value="{{snippet.comment}}"></p>
          <p>
            <strong>Category:</strong><input id="snippet-category" type="text" value="{{snippet.category}}"></p>
            <a href="/">← Back To Home</a>
            <button class="btn btn-danger float-right update">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
